<% if messages.any? %>
  <div class="empty">
    <div class="empty-title"><%= t("federal_offense.unselected.title") %></div>
    <div class="empty-subtitle"><%= t("federal_offense.unselected.subtitle") %></div>
  </div>
<% end %>
