.messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.messages .message {
  position: relative;
}

/* Link styling */
.messages .message .message-link {
  color: inherit;
  display: block;
  padding: 1rem 1rem 1rem 2rem;
  text-decoration: none;
}

/* Text content */
.messages .message .message-sender,
.messages .message .message-subject,
.messages .message .message-preview {
  display: block;
}

.messages .message .message-sender,
.messages .message .message-subject {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.messages .message .message-sender {
  color: gray;
  font-size: 0.8rem;
}

.messages .message .message-preview {
  font-size: 0.6rem;
}

/* Adjacent list items */
.messages .message + .message {
  border-top: 1px solid lightgray;
}

/* Status indicators */
.messages .message.message--unread::before {
  border-radius: 1000px;
  content: "";
  height: 0.5rem;
  left: 1rem;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0.5rem;
}

.messages .message.message--unread::before {
  background-color: steelblue;
}

/* Active state */
.messages .message.message--active {
  background-color: steelblue;
}

.message.message--active.message--unread::before {
  background-color: white !important;
}

.messages .message.message--active .message-link,
.messages .message.message--active .message-sender {
  color: white;
}

.messages .message.message--active + .message,
.messages .message + .message.message--active {
  border-top-color: steelblue;
}
